* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******** ESPECIFICAÇÕES GERAIS ********/
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body  {
  background: rgb(243, 216, 176);
  background-image: url();
  background-size: auto 100vh;
  font-family: Snell Roundhand, cursive;
  height: 110vh;
  font-size: 12px;
}

a {
  text-decoration: none;
}


/********* ANIMAÇÃO TÍTULO ********/
.subtitulo {
  animation: linear 1s animasub forwards;
}

@keyframes animasub {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: .3;
  }
  
  to {
    transform: scale(1) translateY(0);
  }
}
/*********** TITULO *************/
.img-titulo {
  box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  object-position: center;
  height: 35vw;
  width: 35vw;
  border-radius: 50%;
  transition: transform 0.5s;
}

.img-titulo:hover {
  transform: scale(1.1);
}

.subtitulo h1 {
  text-align: center;
}
.site-subtitle {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.5em;
  margin-top: 1.5em;
  color: rgb(250, 179, 27);
  text-align: center;
}

/************* LINK LOGO ***********/
.logo {
  background-color: white;
  box-shadow: 4px 2px 10px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 15vw;
  width: 22vw;
  border-bottom-left-radius: 11vw;
  border-bottom-right-radius: 11vw;
  top: 12vw;
  z-index: 1;
}

.logo li {
  list-style: none;
  font-size: 6vw;
}

.logo ul {
  display: flex;
  justify-content: space-around;
}

.logo a {
  color: peachpuff;
  display: block;
  padding: 3.5vw;
  position: relative;
    letter-spacing: 0.4vw;
    left: 1.3vw;
    top: 0vw;
  text-shadow: black;
  transition: color 1s;
  transition: transform 0.3s;
}

.logo a:hover {
  color: orange;
  transform: rotate(7deg);
}

/******* LINK MENU *******/
.menu {
  background-color: white;
  box-shadow: 0px 2px 9px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100vw;
  height: 15vw;
  top: 0;
  z-index: 2;
}

.menu li {
  list-style: none;
  font-family: 'Sacramento', cursive;
  font-size: 5vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu a {
  color: peachpuff;
  display: block;
  padding: 4.5vw 2vw;
  border-bottom-left-radius: 4vw;
  border-bottom-right-radius: 4vw;
  transition: background-color 2s, color 1.5s;
}

.menu a:hover {
  background-color: orange;
  background-image: linear-gradient( to bottom, transparent, orange);
  color: white;
}
/****** ACOMPANHAMENTO ********/
.acomp {
  min-height: 120vh;
  padding: 2em;
}

.acomp h2{
  font-family: 'Sacramento', cursive;
  font-size: 2em;
  margin-bottom: 2em;
  margin-top: 2.5em;
  text-align: center;
  color: orange;
}

/******** NEWS **********/
.news {
  padding: 2em;
  min-height: 100vh;
}

.news h2 {
  font-family: 'Sacramento', cursive;
  font-size: 2em;
  margin-bottom: 2em;
  margin-top: 2.5em;
  text-align: center;
  color: orange;
} 

.news .grid {
  display: grid;
  gap: 1em;
  justify-content: center;
}


@media (min-width: 520px) {
  .news .grid {
    grid-template-columns: 200px 200px;
  }
}

.news figure {
  text-align: center;
}

.img-news {
  height: 180px;
  width: 180px;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.5s;
}

.img-news:hover {
  transform: scale(1.1);
}

/********* VESTIBULAR ********/
.vest {
  padding: 2em;
  min-height: 120vh;
}

.vest h2 {
  font-family: 'Sacramento', cursive;
  font-size: 2em;
  margin-bottom: 2em;
  margin-top: 2.5em;
  text-align: center;
  color: orange;
}

.vest .grid {
  display: grid;
  justify-content: center;
  gap: 1em;
}

.vest-iframe {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.vest-iframe:hover {
  animation: linear .07s animavest forwards;
}

/********* ANIMAÇÃO FRAME ******/
@keyframes animavest {
0% {
    transform: scale(1);
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  25% {
    transform: scale(1.1);
    height: 217.5px;
    width: 270px;
    border-radius: 40%;

  }

  50% {
    transform: scale(1.2);
    height: 236px;
    width: 340px;
    border-radius: 30%;
  }
  
  75% {
    transform: scale(1.3);
    height: 253.5px;
    width: 410px;
    border-radius: 20%;
  }

  100% {
    transform: scale(1.4);
    width: 480px;
    height: 270px;
    border-radius: 10%;
  }
}

/********* CONTATOS *******/
.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
.contato a {
  color: orange;
  font-size: 3em;
}

.contato a:hover {
  text-shadow: 5px 5px 1px black;
}

a.youtube:hover {
  color: rgb(202, 16, 16);
}

a.instagram:hover {
  color: white;
}

a.twitter:hover {
  color: rgb(10, 120, 245);
}

a.whats:hover {
  color: rgb(17, 212, 17); 
}

a.email:hover {
  color: white;
}

/************ MENU RESPONSSIVO MOBILE *********/
  @media (min-width: 600px) {
    body {
      font-size: 15px;
    }
  
    .img-titulo {
      height: 20vw;
      width: 20vw;
    }
  
    .logo {
      height: 5.7vw;
      width: 10vw;
      border-bottom-left-radius: 4.7vw;
      border-bottom-right-radius: 4.7vw;
      top: 7vw;
    }
      
    .logo li {
      font-size: 3.5vw;
    }
      
    .logo a {
      padding: .1vw 2vw;
      letter-spacing: .2vw;
      left: .8vw;
      top: -.3vw;
    }
      
    .menu {
      width: 105vw;
      height: 7vw;
    }
    
    .menu li {
      font-size: 4vw;
    }
    
    .menu a {
      padding: 1vw 3vw;
      border-bottom-left-radius: 2vw;
      border-bottom-right-radius: 2vw;
    }
  }
  
  @media (min-width: 800px) {
    body {
      font-size: 18px;
    }
  }
  
  @media (min-width: 1000px) {
    body {
      font-size: 20px;
    }
  }

/********* MENU RESPONSSIVO WEB ********/
@media (min-width: 1200px) {

  .img-titulo {
    height: 15vw;
    width: 15vw;
  }

  .logo {
    height: 5.7vw;
    width: 8vw;
    border-bottom-left-radius: 3.7vw;
    border-bottom-right-radius: 3.7vw;
    top: 3vw;
  }
  
  .logo li {
    font-size: 2.5vw;
  }
  
  .logo a {
    padding: 1vw 2vw;
    letter-spacing: .2vw;
    left: .6vw;
    top: -.3vw;
  }
  
  .menu {
    width: 105vw;
    height: 4vw;
  }

  .menu li {
    font-size: 2.2vw;
  }
  
  .menu a {
    padding: .7vw 5vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
  }
}

